*.log
deploy.rb
database.yml

*~
coverage
config/initializers/site_keys.rb
#data.dump
#db/data.yml
#db/schema.rb
db/*.sqlite3
#doc/api
#doc/app/*
.DS_Store
#log/*
#log/*.log
#tmp/**/*
#vendor/gems
tmp/not-needed
